@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@400;500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.cursive{
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.InlineBlock{
    display: inline-block;
}

.property1{
    background-image: url(house/villaTown.png);
    background-size: cover;
}

.property2{
    background-image: url(house/property2.png);
    background-size: cover;
}

.property3{
    background-image: url(house/property3.png);
    background-size: cover;
}

.property4{
    background-image: url(house/property4.png);
    background-size: cover;
}

.property5{
    background-image: url(house/property5.png);
    background-size: cover;
}

.property6{
    background-image: url(house/property6.png);
    background-size: cover;
}

.buying{
    background-image: url(logo/buying.png);
    background-size: cover;
}

.Selling{
   background-image: url(logo/selling.png);
   background-size: cover
}

.consultation{
    background-image: url(logo/consultation.png);
    background-size: cover;
}

nav{
    border: 1px solid ;
    height: 10vh;
    display: flex;
    background-color: #2c3E50;
    font-family:'poppins','inter','Roboto','Montserrat','Open Sans';
    align-items: center;
}

.leftNav{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightNav{
    width: 60%;
    display: flex;
    height: 40%;
    align-items: center;
}

.logo{
    background-image: url(logo/navLogo.png);
    background-size: cover;
    height: 100%;
    width: 23%;
}

.navItems{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-evenly;
    list-style: none;
    color: white;
}

.navItems li{
    cursor: pointer;
}

.section1{
    height: 90vh;
}

.Hero{
    height: 100%;
    width: 100%;
    display: flex;
}

.hero1{
    width: 45%;
    background-image: url(hero/hero1.png);
    background-size: cover;
    background-position: 52%;
    height: 100%;
}

.hero2{
    width: 55%;
    height: 100%;
     font-family:'poppins','inter','Roboto','Montserrat','Open Sans';
    background-image:url(hero/hero2.png);
    background-size: cover;
}

.heroInfo{
    margin: 20%;
    height: 55%;
    font-size: 159%;
    width: 60%;
    color: #2c3E50;
}

.heroInfo p{
    color: #366593;
}

.heroInfo button{
    font-size: 81%;
    padding: 1.5%;
    margin-top: 4%;
    color: white;
    background-color: #2c3E50;
    cursor: pointer;
    border-radius: 13px;
}

.section2{
    height: 100vh;
    display: flow-root;
}



#navBtn{
    background-color: red;
    color: white;
    border: none;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    width: 116%;
}

.section-title{
    text-align: center;
    background-color: #f7f7f7;
    font-family:'poppins','inter','Roboto','Montserrat','Open Sans';
    margin-top: 3%;
    color: #2c3E50;
    z-index: 1;
    position: relative;
}

.section-title h2{
    display:inline-block;
    position:relative;  
}

.section-title h2::before,
.section-title h2::after{
    content:"";
    position:absolute;
    width:100px;
    height:1px;
    background:#2c3E50;
    top:50%;
    transform: translateY(-50%);
}

.section-title h2::before{
    left:-120px;
}

.section-title h2::after{
    right:-120px;
}

.aboutMe{
    height: 20%;
    font-family:'poppins','inter','Roboto','Montserrat','Open Sans';
    font-size: 138%;
    background-color: #f7f7f7;
    text-align: center;
}

.productContainer{
    background-color: #f7f7f7;
    height: 50vh;
    display: flow-root;
     font-family:'poppins','inter','Roboto','Montserrat','Open Sans'
}


.overflow{
    overflow-y: hidden;
    white-space: nowrap;
    width: 85%;
    margin: 0% 7.5%;
    margin-top: 3%;
        height: 85%;
    overflow-x: auto;
}

.overflow::-webkit-scrollbar{
    display: none;
}

.box{
    box-shadow: 1px 3px 15px;
    margin:0% 1%;
    border-radius: 12px;
    width: 29%;
    height: 94%;
    display: inline-block;
    vertical-align: top;
}

.propertyBox{
    height: 80%;
}

.propertyBox2{
    display: flex;
    align-items: center;
    height: 15%;
    justify-content: center;
}

.propertImg{
    height: 80%;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.propertyInfo{
    background-color: #2c5985;
    height: 20%;
    color: #fff;
    display: flow-root; 
}

.PropertyInfoText{
    width: 79%;
    margin: 0% 10.5%;
    margin-top: 1%;
    font-size: 90%;
    height: 75%;
}

.propertyBtn{
    padding: 1%;
    font-size: 103%;
    background-color: #5c5ce0;
    cursor: pointer;
    color: white;
    border: 0.5px solid black;
}
/* model */

.modal {
  display: none;
  position: fixed;
  inset: 0; 
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);         
  justify-content: center;
  align-items: center;
 z-index: 9999;
  padding: 20px;          
}


.modal-content {
  background: white;
  width: 100%;
  max-width: 900px;
  font-family:'poppins','inter','Roboto','Montserrat','Open Sans';
  color: #2c3E50;
  max-height: 90vh;       
  overflow-y: auto;       

  border-radius: 12px;
  padding: 20px;
   z-index: 9999;
  position: relative;
}



.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 28px;
   z-index: 9999;
  cursor: pointer;
}


.main-img {
  width: 100%;
  height: auto;
  max-height: 400px;  
   z-index: 9999;
  object-fit: cover;
}


.thumbnails {
  display: flex;
  gap: 10px;
   z-index: 9999;
  margin-top: 10px;
}

.thumbnails img {
  width: 100px;
  cursor: pointer;
   z-index: 9999;
  border-radius: 6px;
}


.map {
  width: 100%;
  height: 200px;
  margin-top: 15px;
   z-index: 9999;
  border-radius: 8px;
}


.visit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #1f3c88;
  color: white;
  border: none;
  border-radius: 6px;
   z-index: 9999;
  cursor: pointer;
}


/* model end */

.section3{
    height: 100vh;
}

.Services{
       height: 40%;
       background-color: #f7f7f7;
       display: flex;
       justify-content: space-evenly;
        font-family:'poppins','inter','Roboto','Montserrat','Open Sans';
}

.service{
    width: 30%;
}

.ServiceLogo{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServiceImg{
    height: 76%;
    width: 50%;
    border-radius: 50%;
}

.serviceInfo{
   height: 30%;
   text-align: center;
   font-size: 70%;
   color: #2c3E50;
}

.testimonialBox{
    overflow-y: hidden;
    white-space: nowrap;
    width: 85%;
    margin: 0% 7.5%;
    height: 26%;
    overflow-x: auto;
}



.testimonial{
    border-radius: 12px;
    white-space: normal;
    width: 48%;
    background-color: #ece5e5;
    height: 84%;
    display: inline-block;
    vertical-align: top;
}

.Feedbacks{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Feedbacks p{
    width: 80%;
    height: 70%;
}

.FeedbackSupplier{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;
}



.testimonialBox::-webkit-scrollbar
{
    display: none;
}

.section4{
    height: 100vh;
    display: flow-root;
}

.connectHead{
     margin-top: 0%;
}

.connect{
    background-color: #f7f7f7;
    height: 85%;
    display: flex;
}

.form{
    width: 40%;
    height: 100%;
     font-family:'poppins','inter','Roboto','Montserrat','Open Sans';
}

form{
    display: flex;
    flex-direction: column;
    margin: 8% 16%;
    height: 47%;
    justify-content: space-around;
}

form input{
    display: block;
    padding: 1%;
    width: 88%;
}

.textAreaa{
   display: block;
}

.submit{
    width: 31%;
    padding: 1%;
    color: white;
    background-color: #2c3E50;
}

.mapArea{
    width: 60%;
    height: 100%;
}

.mainContent{
    width: 85%;
    height: 81%;
    margin: 7%;
}

.map{
    height: 46%;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.contactInfo{
    height: 54%;
    font-size: 128%;
}

.contactInfo p{
    margin: 2% 2%;
    color: #2c3E50;
    font-family:'poppins','inter','Roboto','Montserrat','Open Sans';

}

.Footer{
    background-color: #2c3E50;
    margin-top: 0%;
    color: #fff;
}

.Footer h2::before,
.Footer h2::after{
    content:"";
    position:absolute;
    width:100px;
    height:1px;
   background-color: #fff;
    top:50%;
    transform: translateY(-50%);
}

.Footer h2::before{
    left:-120px;
}

.Footer h2::after{
    right:-120px;
}

footer{
    height: 10vh;
    background-color: #2c3E50;
}

#Menu{
      display: none;
   }

   #cross{
    display: none;
   }


@media(max-width:800px)
{
  
   #Menu{
      display: inline-block;
      color: white;
      margin-left: -12%;
      font-size: 150%;
   }

    #cross{
    display: inline-block;
   }

    .navItems{
        flex-direction: column;
        background-color: #040c21c2;
        height: 50vh;
        position: fixed;
        top: 0;
        width: 100vw;
        right: 100%;
        align-items: center;
    }

.logo {
    background-image: url(logo/navLogo.png);
    background-size: cover;
    height: 100%;
    width: 61%;
}

    .section1 {
    height: 200vh;
}

 .Hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hero1{
    width: 100%
}

.heroInfo {
    margin: 50% 7%;
    height: 55%;
    width: 78%;
}

.hero2 {
    width: 100%;
    height: 100%;
}

.aboutMe {
    padding: 4%;
    font-size: 85%;
    height: 20vh;
}

.section-title {
    font-size: 43%;
}

.section2 {
    height: 320vh;
    display: flow-root;
}

.productContainer {
    
    height: 288vh;
   
}

.overflow {
    width: 87%;
    margin: 0% 7.5%;
    margin-top: 3%;
    overflow: hidden;
    height: 97%;
    white-space: normal;
}

.box {
    margin: 4% 1%;
    width: 95%;
    height: 15%;
}

.section3 {
    height: 262vh;
}


.thumbnails img {
    cursor: pointer;
    z-index: 9999;
    width: 27%;
    border-radius: 6px;
}

.Services {
    height: 40%;
    flex-direction: column
}

.service {
    width: 97%;
    height: 41%;
}

.testimonialBox {
    width: 85%;
    margin: 0% 7.5%;
     white-space: normal;
    display: block;
    height: 54%;
}

.testimonial {
    border-radius: 12px;
    font-size: 74%;
    width: 98%;
    background-color: #ece5e5;
    height: 21%;
    margin: 7% 1%;
    vertical-align: top;
}

.connect {
    display: flex;
    flex-direction: column-reverse;
}

.mapArea {
    width: 100%;
}

.submit {
    margin-top: 5%;
}

.mainContent {
    font-size: 61%;
}

form{
    width: 99%;
}

.form {
    width: 60%;
    height: 100%;
}


}